body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(0,0,0);
    background: -moz-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,60,0,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,60,0,1) 100%);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,60,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#003c00",GradientType=1);
    color: #00ff00;
}

.chat-container {
    width: 90%;
    max-width: 600px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 255, 0, 0.7);
    background-color: #003300;
}

.key-input {
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.key-input input {
    width: 100%;
    padding: 10px;
    border: 2px solid #00ff00;
    border-radius: 10px;
    background-color: #002200;
    color: #00ff00;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.key-input input:focus {
    outline: none;
    box-shadow: 0 0 12px #00ff00;
    font-family: 'Courier New', Courier, monospace;
}

.chat-box {
    height: 300px;
    overflow-y: auto;
    border: 2px solid #00ff00;
    border-radius: 10px;
    padding: 10px;
    background: #002200;
    margin-bottom: 20px;
}

.chat-box div {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.chat-box .encrypted {
    background: #004d00;
    color: #00ff00;
}

.chat-box .decrypted {
    background: #006600;
    color: #00ff00;
}

.message-input {
    display: flex;
}

.message-input input {
    flex: 1;
    padding: 12px;
    border: 2px solid #00ff00;
    border-radius: 10px 0 0 10px;
    background-color: #002200;
    color: #00ff00;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.message-input input:focus {
    outline: none;
    box-shadow: 0 0 12px #00ff00;
}

.message-input button {
    padding: 12px 20px;
    border: none;
    background-color: #00cc00;
    color: #00ff00;
    font-weight: bold;
    font-size: 16px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.message-input button:hover {
    background-color: #00ff00;
    color: #001a00;
}

.clear-history {
    margin-top: 10px;
    text-align: center;
}

.clear-history button {
    padding: 12px 20px;
    border: none;
    background-color: #660000;
    color: #ff4d4d;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Courier New', Courier, monospace;
}

.clear-history button:hover {
    background-color: #990000;
}

.clear-history button:focus {
    outline: none;
    box-shadow: 0 0 12px #ff4d4d;
}

button{
    font-family: 'Courier New', Courier, monospace; 
}